:root {
    --color-primary:#333;
    --color-aa:#d0021b;
    --color-grey:#666;
    --color-transparent-black:rgba(0,0,0,0.15);
    --color-transparent-black-light:rgba(0,0,0,0.05);
    --color-transparent-white:rgba(255,255,255,0.5);
    --color-gradient-black:linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
}
::selection {
    background: var(--color-primary);
    color: #fff;
    text-shadow: none;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: var(--color-primary);
}
a:hover, button:hover {
    cursor: pointer;
    transition: 0.25s all;
}
#splash-screen {
    height: 100vh;
    display: grid;
    scroll-snap-align: start;
    width:100vw ;
    grid-template-rows: 100px 1fr;
}
header {
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-content: center;
    justify-content: space-between;
}
#exchangeStatus {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding-left: 30px;
    font-size: 12px;
}
#exchangeStatus button {
    display: none;
    padding: 15px 30px;
    border-radius: 30px;
    border: 2px solid var(--color-primary);
    font-weight: 400;
    letter-spacing: -0.01em;
    background: #fff;
    transition: 0.25s all;
}
#exchangeStatus:hover button {
    display: block;
}
#exchangeStatus:hover button:hover {
    color:#fff;
    background-color: var(--color-primary);
}
/* animate icon when updating currencies */
@keyframes rotate360 {
    to { transform: rotate(360deg); }
}
.rotate { animation: 2s rotate360 infinite linear; }

#exchangeStatus .msg {
    align-self: center;
}
#exchangeStatus:hover .msg {
    display: none;
}
.center {
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
}
.center p {
    align-self: center;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.center p.author {
    text-align: right;
    margin-right: 15px;
}
.center p.cohort {
    text-align: left;
    margin-left: 15px;
}
.center p.appacademy a {
    text-indent: -99999px;
    width: 50px;
    height: 50px;
    display: block;
    background:url("/assets/img/aa-logo.svg") 0 0 no-repeat;
    transition: none;
}
.center p.appacademy a:hover {
    background-position: bottom;
    transition: none;
}
.icons {
    display: flex;
    justify-content: end;
    align-items: center;
}
.icons p {
    font-size: 32px;
}
.icons a {
    color: var(--color-transparent-black);
    margin-right: 30px;
}
.icons a:hover {
    color: var(--color-grey);
}
.headline {
    display: grid;
    align-self: center;
    justify-content: center;
}

h1 {
    font-weight: 900;
    font-size: 5vw;
    line-height: 1;
    letter-spacing: -0.03em;
}
h2 {
    font-size: 2vw;
    margin-bottom: 30px;
}
.headline p {
    font-size: 8vw;
}
.headline button {
    padding: 15px 4vw;
    width:14vw;
    border-radius: 40px;
    transition: 0.25s all;
    border: 2px solid var(--color-primary);
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: -0.01em;
    background: #fff;
}
.headline button:hover {
    background-color: var(--color-primary);
    color: #fff;
}
#products section {
    height: 100vh;
    display: grid;
    scroll-snap-align: start;
    width:100vw;
    grid-template-columns: 1fr 2fr;
}
#products section aside.info {
    padding: 60px 30px 0px 60px;
    // border:1px solid red;
}
#products section aside.charts {
    padding: 60px 60px 0px 30px;
    // border:1px solid red;
}
#products h2 {
    opacity: 0.5;
}
#products .info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    max-height: 60vh;
    display: block;
}
#products .info button {
    padding:20px;
    font-size: 18px;
}
#products .info button:hover {
    opacity: 0.75;
}
#products .charts nav {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
#products .charts nav button {
    padding:10px 30px;
    font-size: 18px;
}
#products .charts nav button:hover {
    background-color: #fff !important;
    color: var(--color-primary) !important;
}
#products .charts nav button.selected {
    background-color: var(--color-primary) !important;
    color: #fff !important;
    font-weight: 900;
}

#products .charts > div > div.hidden {
    display: none;
}
#products .charts > div > div.selected {
    display: block;
}
.tabPanel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabPanel svg {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: auto;
}
footer {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    background-color: var(--color-primary);
    width: 100vw;
    align-items: center;
    color: var(--color-transparent-black);
    justify-content: center;
    font-size: 5vw;
    font-weight: 900;
}